/** {
	text-align: center;
}*/
p {
	margin: 0 auto;
	height: 50px; 
	width: 700px;
	font-size: 20px;
	padding: 15px;
	/*margin-top: 60px;*/
	text-align: center;
	border:3px; border-style:solid; 
	border-color:gray;
	background-color: gray;
}
#directions {
	margin: 30px 0 10px 10px;
	font-size: 20px;
}
header {
	text-align: center;
/*	background-image: url("images/music-background-with-vinyl-record-Stock-Vector.jpg");
	background-repeat: no-repeat;
	background-position: top center;*/
	/*alt="background image of vinyl record with music notes"*/
}
.playSongButton {
	position: relative;
	margin-top: 40px;
    width:200px;
    height: 200px;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-size: 30px;
}
#uiMessage {
	margin: 0 auto;
	height: 50px; 
	width: 700px;
	font-size: 20px;
	margin-top: 60px;
	text-align: center;
}
#instructionMessage {
 	text-align: center;
 	margin-top: 40px;
 }
#artistChoiceContainer {
	position: relative;
	margin-top: -40px;
	margin-bottom: -20px;
	margin-left: -42px;
	text-align: center;
}
.artistChoice {
	margin: 50px 80px 0px 90px;
	text-decoration: none;
	font-size: 20px;
	color: #1c5380;
	list-style-type: none;
    display: inline;
    height: 50px; 
	width: 700px;
}
.guessSubmissionButton {
	position: relative;
	display: inline-block;
	margin: 50px 100px 0px 80px;
    width:40px;
    height: 40px;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-size: 10px;
}
#guessOne {
	background-color: red;
}
#guessTwo {
	background-color: blue;
}
#guessThree {
	background-color: gray;
}
#waveform{
	background-color: gray;
	height: 100px ;
	width: 100px;
}
#songHistory {
	position: relative;
	margin-top: 80px;
	width:500px;
	height: 50px;
	text-align: center;
	margin-left: 215px;
/*	border-color: black;*/

}
